/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    height: 100px;
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1;
    padding: 20px;
}

#tours {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.tour-card {
    width: 30%;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}

.tour-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.tour-body {
    padding: 15px;
}

.tour-name {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.tour-action {
    text-align: right;
}

.tour-action a {
    color: #2b2b2b;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.tour-action a:hover {
    color: #d1515a;
}

footer {
    height: 50px;
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
} */
















/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

main {
    padding: 20px;
    padding-top: 100px;
}

#tours {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.tour-card {
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.tour-card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.tour-card:hover .tour-img {
    transform: scale(1.1);
}

.tour-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.tour-body {
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    transform: translateY(100%);
    transition: all 0.3s ease-in-out;
}

.tour-card:hover .tour-body {
    transform: translateY(0);
}

.tour-name {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.tour-action a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.tour-action a:hover {
    background-color: #444;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
} */






















/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    height: 100px;
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1;
    padding: 20px;
}

#tours {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.tour-card {
    width: calc(30% - 10px);
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-right: 10px;
    overflow: hidden;
}

.tour-card:nth-child(3n) {
    margin-right: 0;
}

.tour-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.tour-body {
    padding: 15px;
}

.tour-name {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.tour-action {
    text-align: right;
}

.tour-action a {
    color: #2b2b2b;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.tour-action a:hover {
    color: #d1515a;
}

footer {
    height: 50px;
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
} */

















@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
    background-image: url('img/background-white_fj1220.jpg');
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

main {
    padding: 20px;
    padding-top: 100px;
}

#tours {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.tour-card {
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.tour-card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.tour-card:hover .tour-img {
    transform: scale(1.1);
}

.tour-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.tour-body {
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    transform: translateY(100%);
    transition: all 0.3s ease-in-out;
}

.tour-card:hover .tour-body {
    transform: translateY(0);
}

.tour-name {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.tour-action a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: background-color 0.3s ease-in-out;
}

.tour-action a:hover {
    background-color: #444;
}

footer {
    height: 20px;
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}


h1 {
    color: #333;
    text-align: center;
  }